alembic
blinker
click
colorama
dnspython
email_validator
Flask
Flask-Login
Flask-Mail
Flask-Migrate
Flask-SQLAlchemy
Flask-WTF
greenlet
idna
itsdangerous
Jinja2
MarkupSafe
SQLAlchemy
typing_extensions
utils
Werkzeug
WTForms
