{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2>Our Teas</h2>
    <div class="row">
        {% for tea in teas %}
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="{{ url_for('static', filename='images/' + tea.image_url) if tea.image_url else url_for('static', filename='images/default_tea.jpg') }}"
                     alt="{{ tea.name }}" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">{{ tea.name }}</h5>
                    <p class="card-text">{{ tea.description }}</p>
                    <p><strong>Price:</strong> ${{ tea.price }}</p>
                    <p><strong>Category:</strong> {{ tea.category }}</p>

                    <a href="javascript:void(0);" onclick="likeTea('{{ tea.id }}');">
                        <img src="/static/images/like.jfif" style="width: 18%; height: auto;">
                    </a>
                    <span id="likes-{{ tea.id }}">{{ tea.likes }}</span>

                    {% if current_user.is_authenticated and current_user.role == 'admin' %}
                    <form action="{{ url_for('delete_tea', tea_id=tea.id) }}" method="POST" style="display:inline;">
                        <button type="submit" class="btn btn-danger">Delete Tea</button>
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<script>
    function likeTea(teaId) {
     fetch('/like_tea', {
         method: 'POST',
         headers: {
             'Content-Type': 'application/json'
         },
         body: JSON.stringify({
             tea_id: teaId
         })
     })
     .then(response => {
         console.log(response);  // Log the response object for debugging
         if (!response.ok) {
             return response.text().then(text => {
                 throw new Error(text);
             });
         }
         return response.json();  // Parse the response as JSON if status is OK
     })
     .then(data => {
         if (data.message) {
             let likeCountElement = document.getElementById(`likes-${teaId}`);
             likeCountElement.innerText = data.likes;
             alert(data.message);
         } else {
             alert('Error liking tea: ' + (data.error || 'Unknown error'));
         }
     })
     .catch(error => {
         console.error('Error:', error);
         alert('You have already liked this tea');
     });
 }
</script>
{% endblock %}
